{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block Title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'datepicker/css/bootstrap-datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'css/awesome-checkbox.css' %}">
    {% block Css %}{% endblock %}
</head>
<body>
    {% include "includes/navbar.html" %}
    {% block Content %}{% endblock %}
    {% include "includes/footer.html" %}
    <!-- Scroll To Top Button -->
    <div class="scroll-top-wrapper ">
        <i class="fa fa-2x fa-chevron-up"></i>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tether.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript">
        $(window).scroll(function ()
        {
            if ($(".navbar").offset())
            {
                if ($(".navbar").offset().top > 50)
                {
                    $(".scrolling-navbar").addClass("top-nav-collapse");
                    $("#mainNavbar").addClass("expand-sm");
                }
                else
                {
                    $(".scrolling-navbar").removeClass("top-nav-collapse");
                    $("#mainNavbar").removeClass("expand-sm");
                }
            }
        });

        $(document).ready(function()
        {
            $(function()
            {

                $(document).on( 'scroll', function()
                {

                    if ($(window).scrollTop() > 100)
                    {
                        $('.scroll-top-wrapper').addClass('show animated bounceIn');
                    }
                    else
                    {
                        $('.scroll-top-wrapper').removeClass('show animated bounceIn');
                    }
                });

                $('.scroll-top-wrapper').on('click', scrollToTop);
            });

            function scrollToTop()
            {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }

        });
    </script>
    {% block JavaScript %}{% endblock %}
</body>
</html>
