{% extends "base.html" %}
{% load staticfiles %}
{% block Title %}
Evaluacion de Usabilidad En Aplicaciones Web
{% endblock %}
{% block Content %}
<div id="main-video-carousel"
     class="carousel slide carousel-fade"
     data-ride="carousel"
     data-interval="20000"
     data-pause="false">
    <ol class="carousel-indicators">
        <li data-target="#main-video-carousel"
            data-slide-to="0"
            class="active">
        </li>
        <li data-target="#main-video-carousel"
            data-slide-to="1">
        </li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view hm-black-strong">
                <video class="video-fluid" autoplay loop id="main-video1">
                    <source src="{% static 'video/LinesPurple.mp4' %}"
                            type="video/mp4" />
                </video>
            </div>
            <div class="carousel-caption">
                <div class="flex-center animated fadeInDown">
                    <ul>
                        <li>
                            <h1 class="h1-responsive">Análisis De Resultados</h1>
                        </li>
                        <li>
                            <h5>
                                Análisis de la Usabilidad en Aplicaciones Web
                            </h5>
                        </li>
                        <li>
                            <a href="" class="btn teal btn-lg">Ir A Resultados</a>
                            <a href="" class="btn btn-info btn-lg">Ver Resumen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="view hm-black-strong">
                <video class="video-fluid" autoplay loop id="main-video2">
                    <source src="{% static 'video/Lines.mp4' %}" type="video/mp4" />
                </video>
                <div class="mask"></div>
            </div>
            <div class="carousel-caption">
                <div class="flex-center animated fadeInDown">
                    <ul>
                        <li>
                            <h1 class="h1-responsive">
                                Población
                            </h1>
                        </li>
                        <li>
                            <h5>
                                Aplicaciones Web Desarrolladas Como Trabajos de Grado
                            </h5>
                        </li>
                        <li>
                            <a href="" class="btn teal btn-lg">
                                Trabajos de Grado
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev"
           href="#main-video-carousel"
           role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon"
                  aria-hidden="true">
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"
           href="#main-video-carousel"
           role="button"
           data-slide="next">
            <span class="carousel-control-next-icon"
                  aria-hidden="true">
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript">
    $("#item-main").addClass("active");
</script>
{% endblock %}
