<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <h5>Framework Front-End Desarrollo Web</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 offset-lg-1 text-left">
        <div class="md-form">
            <select class="selectpicker show-tick dropup"
                    data-header="Frameworks Front-End"
                    data-style="btn-info"
                    data-width="100%"
                    id="workc_ffront"
                    title="Selecione Frameworks Fron-End Utilizados" multiple>
                    <option value="JQuery">JQuery</option>
                    <option value="JQuery UI">JQuery UI</option>
                    <option value="Metro UI">Metro UI</option>
                    <option value="Bootstrap">Bootstrap</option>
                    <option value="Materialize">Materialize</option>
                    <option value="No Especificado">No Especificado</option>
            </select>
        </div>
    </div>
</div>
